# yaml-language-server: $schema=https://json.schemastore.org/clang-format-21.x.json
---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
Standard: c++20
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: None
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  AfterClass: true
  AfterFunction: true
AlignArrayOfStructures: Right
BreakBeforeBinaryOperators: None
BinPackArguments: false
BinPackParameters: BinPack
BreakBinaryOperations: RespectPrecedence
SortIncludes:
  Enabled: true
PointerAlignment: Right
